<div class="row" style="height: 200px;">
    <div class="col-12">xxxxxxxxxxxxxxxxxxxx</div>
</div>
<label for="id">Cod.</label>
<input id="id" [(ngModel)]="usuario.id" /><br/>

<label for="nome">Nome</label>
<input id="nome" [(ngModel)]="usuario.nome" /><br/>

<label for="senha">senha</label>
<input id="senha" [(ngModel)]="usuario.senha" /><br/>

<label for="email">E-mail</label>
<input id="email" [(ngModel)]="usuario.email" /><br/>

<label for="tipoUsuario">Tipo Usuario</label>
<select id="tipoUsuario" [(ngModel)]="usuario.tipoUsuario">
  <option value="ADMINISTRADOR">ADMINISTRADOR</option>
  <option value="VISITANTE">VISITANTE</option>
</select ><br/>

<input type="submit" value="Novo" (click)="novo()" />
<input type="submit" value="Salvar" (click)="adicionar()" />
<input type="submit" value="Consultar" (click)="consultar()" />
<input type="submit" value="Excluir" (click)="excluir(usuario)" />


<table>
    <thead>
      <tr>
        <th>Cod.</th>
        <th>Nome</th>
        <th>email</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios" (click)="selecionar(usuario)">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.tipoUsuario }}</td>
      </tr>
    </tbody>
  </table>
  